<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <!-- Database Connection Settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Demo</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">0000</property>

        <!-- Hibernate Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgresPlusDialect</property>

        <!-- Hibernate Properties -->
<!--        <property name="hibernate.show_sql">true</property>   &lt;!&ndash; Show generated SQL &ndash;&gt;-->
<!--        <property name="hibernate.format_sql">true</property> &lt;!&ndash; Format SQL output &ndash;&gt;-->

        <!-- Auto-generate tables (create/update) -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mention annotated classes -->
        <mapping class="com.HQL.StudentData"/>
    </session-factory>
</hibernate-configuration>
